@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
	margin:0;
	padding:0;
	font-size:16px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
header
{
position:absolute;
top:0;
Left:0;
width:100%;
padding:30px 100px;
display:flex;
justify-content:space-between;
align-items:center;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-decoration: uppercase;
    letter-spacing: 2px;
}
header ul
{
 display: flex;
 justify-content: center;
 align-items: center;

}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
.text-container{
    max-width: 600px;
    margin-top: 12%;
    margin-left: 50%;
}
.text-container h1{
    font-size: 80px;
    font-weight: 400;
    color: #fff;
}
.text-container a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
}
.text-container a:hover,
.text-container a.active
{
    background: #fff;
    color: #2b1055
}

.text-container p{
    font-weight: regular;
    font-size: 17px;
}
.img {
    position: absolute;
    top: 150px;
    right: 20%;
    left: 7%;
    width: 500px;
}

.container {
  position: absolute;
  top: 70px;
  margin: 20px 40px;
  color: white;
}

.heading {
  font-size: 60px;
  color: white;
}

.heading span {
  font-style: italic;
  font-size: 30px;
}

.profiles {
  display: flex;
  justify-content: space-around;
  margin: 30px 70px;
}

.profile {
  flex-basis: auto;
  margin: 30px;
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #ccc;
}

.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}

p{
    font-weight: normal;
    font-size: 30px;
    margin: 40px;
}

h1{
  font-size: 40px;
}







