@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}
body{
	margin:0;
	padding:0;
	font-size:16px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
header
{
position:absolute;
top:0;
Left:0;
width:100%;
padding:30px 100px;
display:flex;
justify-content:space-between;
align-items:center;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-decoration: uppercase;
    letter-spacing: 2px;
}
header ul
{
 display: flex;
 justify-content: center;
 align-items: center;

}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}

h1{
    max-width: 600px;
    margin-top: 8%;
    margin-left: 30%;
    display: flex;
	align-items: center;
	justify-content: center;
    color: #fff;
    font-size: xx-large;
}


.portfolio .box-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding:2rem 0;
}

.portfolio .box-container .box{
	height: 20rem;
	width: 26rem;
	border-radius: 1rem;
	margin:2rem;
	overflow: hidden;
	cursor: pointer;
}

.portfolio .box-container .box img{
	height: 100%;
	width: 80%;
	object-fit: cover;
}
img{
    width: 50%s;
}

.portfolio .box-container .box:hover img{
	transform: scale(1.05);
}