@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing:border-box;
 font-family:'Poppins',sans-serif;
}
body{
	margin:0;
	padding:0;
	font-size:16px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
header
{
position:absolute;
top:0;
Left:0;
width:100%;
padding:30px 100px;
display:flex;
justify-content:space-between;
align-items:center;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-decoration: uppercase;
    letter-spacing: 2px;
}
header ul
{
 display: flex;
 justify-content: center;
 align-items: center;

}
header ul li
{
  list-style: none;
  margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #bfd3df;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
h2{
    margin-bottom: 50vh;
    text-align: center;
    color: rgb(221, 255, 0);
}

p{
   position: relative;
   bottom: 330px;
   text-align: center;
   color: #fff;
   font-size: 1.4em;
}


.code a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    position: relative;
   bottom: 270px;
   left: 645px;
}
.code a:hover,
.code a.active
{
    background: #fff;
    color: #2b1055
}

.code1 a{
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
    position: relative;
   bottom: 307px;
   left: 860px;
}
.code1 a:hover,
.code1 a.active
{
    background: #fff;
    color: #2b1055
}

img {
    position: absolute;
    top: 120px;
    right: 130%;
    left: 42%;
    width: 250px;
}